<!DOCTYPE html>
<html>
    <head>
        <title>Socket.io Chat</title>

        <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
    </head>

    <body>
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" />
            <button>Send</button>
        </form>

        <script src="js/external/socket.io.min.js"></script>
        <script src="js/external/jquery-3.2.0.min.js"></script>
        <script src="js/chat.js"></script>

    </body>
</html>